<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Бот с удобными тикетами, хента.. и т.п">
        <meta name="author" content="">
        <title>fydne</title>
        <link rel="icon" type="image/ico" href="/fydne.png" />
        <link rel="stylesheet" type="text/css" href="/css/extras.css">
        <link rel="stylesheet" type="text/css" href="/css/main.css">
        <link rel="stylesheet" type="text/css" href="/css/animate.css">
        <link rel="stylesheet" type="text/css" href="/fa/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/fa/all.min.css">
        <link href="/css/style.css" rel="stylesheet">
        <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="/css/one-page-wonder.min.css" rel="stylesheet">
        <link href="/css/app.min.css" rel="stylesheet" type="text/css">
        <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="/css/select2.min.css" rel="stylesheet" type="text/css">
        <style>
            ::-webkit-scrollbar {
            width: 9px;
            }
            ::-webkit-scrollbar-thumb {
            background-color: #18191c;
            border-radius: 99px;
            }
            ::-webkit-scrollbar-track {
            background-color: #00ffff52;
            }
            * {
                cursor: url(/cursors/cyan/standart.cur), crosshair !important;
            }
            .btn, a, a * {
                cursor: url(/cursors/cyan/pointer.cur), pointer !important;
            }
            p, h4 {
                cursor: url(/cursors/cyan/select.cur), pointer !important;
            }
            ::-moz-selection { 
            color: cyan;
            background: #00000020;
            border-radius: 15px;
            }
            ::selection {
            color: cyan;
            background: #00000020;
            }
            a[class="text-dark"]
            {
                cursor: url(/cursors/cyan/select.cur), pointer !important;
            }
            #badge {
              position: absolute;
              right: 10px;
              top: 0px;
              background-color: #00ffff71;
              -webkit-transform: rotate(+45deg) scale(1) skew(0deg) translate(10px);
              -moz-transform: rotate(+45deg) scale(1) skew(0deg) translate(10px);
              -o-transform: rotate(+45deg) scale(1) skew(0deg) translate(10px);
              -ms-transform: rotate(+45deg) scale(1) skew(0deg) translate(10px);
              transform: rotate(+45deg) scale(1) skew(0deg) translate(10px);
              text-align: center;
              color: #232a35;
              padding: 0 0.0em;
              border-top: 0px;
              line-height: 20px;
              margin: 0;
            }
            #badge:after {
              content: ' ';
              position: absolute;
              right: -20px;
              top: 0px;
              border-right: 20px solid transparent;
              border-bottom: 20px solid #00ffff71;
            }
            #badge:before {
              content: ' ';
              position: absolute;
              left: -20px;
              top: 0;
              border-left: 20px solid transparent;
              border-bottom: 20px solid #00ffff71;
            }
        </style>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body class="topbar-dark left-side-menu-dark  pace-done" oncopy="wpccAlert('wpcc-fail','Copying is disabled.'); return false;" oncut="wpccAlert('wpcc-fail','Copying is disabled.'); return false;" ondragstart="return false;" ondrop="return false;" oncontextmenu="return false;">
        <div id="wrapper">
            <style>
            .btn{
                cursor: url(/cursors/cyan/pointer.cur), pointer !important
            }
            body{top:auto!important}
            @media (max-width:768px){.button-menu-mobile.disable-btn{display:inline!important}.page-title-main{display:none}.menu_small_block{display:block!important}.menu_small_menu{font-size:24px;color:#fff;padding-top:0!important}}
            </style>
            <%- include('../header/menu') %>
            <style>.left-side-men2u{padding:50px 0}</style>
            <div class="left-side-menu">
                <div class="slimScrollDiv active" style="position: relative; overflow: hidden; width: auto;">
                    <div class="slimscroll-menu in" style="overflow: hidden; width: auto;">
                        <div class="user-box text-center">
                            <% if (guild.icon) { %>
                                <img id="<%= guild.id %>1" src="<%= guild.iconURL %>" alt="" title="" class="rounded-circle img-thumbnail avatar-lg" draggable="false" onerror="javascript:imgs('<%= guild.id %>')">
                                <img id="<%= guild.id %>2" src="https://cdn.discordapp.com/icons/<%= guild.id %>/<%= guild.icon %>.png" style="display: none;" alt="" title="" class="rounded-circle img-thumbnail avatar-lg" draggable="false" draggable="false">
                            <% } else { %>
                                <img src="/discord.png" alt="" title="" class="rounded-circle img-thumbnail avatar-lg" draggable="false">
                            <%}%>
                            <div class="dropdown">
                                <a class="text-dark"><%= guild.name %></a>
                            </div>
                            <p class="text-muted"><%= membersize %> юзеров</p>
                        </div>
                        <div id="sidebar-menu" class="active">
                            <ul class="metismenu in" id="side-menu">
                                <li class="menu-title">Навигация</li>
                                <li class="active">
                                    <a href="/manage/<%= guild.id %>/">
                                        <i class="fa fa-info-circle" aria-hidden="true"></i>
                                        <span>Информация</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/manage/<%= guild.id %>/configs">
                                        <i class="fa fa-folder-o" aria-hidden="true"></i>
                                        <span>Конфиги сервера</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/manage/<%= guild.id %>/anime-configs" class="active">
                                        <i aria-hidden="true"><img src="/anime.png" width="20px" height="20px" alt="" title="" draggable="false"></i>
                                        <span>Конфиги аниме</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/manage/<%= guild.id %>/ticket-configs">
                                        <i class="fa fa-ticket" aria-hidden="true"></i>
                                        <span>Конфиги тикетов</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="slimScrollBar" style="background: rgb(158, 165, 171); width: 8px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 495.664px;"></div>
                    <div class="slimScrollRail" style="width: 8px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div>
                </div>
            </div>
            <div class="content-page">
                <div class="content">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="card-box card-border">
                                    <h4 class="header-title mt-0 mb-4">Конфиги аниме</h4>
                                    <form role="form" method="post">
                                        <div class="col-12 col-lg-12 mb-2" style="position:relative;min-height:27px;">
                                            <label>
                                                <% if(guildData.plugins.hentai.enabled) { %>
                                                    <p><input type="checkbox" style="cursor: url(/cursors/cyan/pointer.cur), pointer !important;" name="hentaion" checked>   Включена ли команда <a style="color:#ff0 !important; cursor: url(/cursors/yellow/select.cur), pointer !important;"><%= guildData.prefix %>хентай</a></p>
                                                <% } else { %>
                                                    <p><input type="checkbox" style="cursor: url(/cursors/cyan/pointer.cur), pointer !important;" name="hentaion">   Включена ли команда <a style="color:#ff0 !important; cursor: url(/cursors/yellow/select.cur), pointer !important;"><%= guildData.prefix %>хентай</a></p>
                                                    <% } %>
                                                
                                            </label>
                                        </div>
                                        <div class="col-12 col-lg-12 mb-2" style="position:relative;min-height:27px;">
                                            <label>
                                                <% if(guildData.autohentai) { %>
                                                    <p><input type="checkbox" style="cursor: url(/cursors/cyan/pointer.cur), pointer !important;" name="autohentaion" checked>   Включен ли авто хентай</p>
                                                <% } else { %>
                                                    <p><input type="checkbox" style="cursor: url(/cursors/cyan/pointer.cur), pointer !important;" name="autohentaion">   Включен ли авто хентай</p>
                                                <% } %>
                                            </label>
                                        </div>
                                        <div class="col-12 mb-2">
                                            <label>Канал для авто хентая</label>
                                            <select class="form-control" name="suggestions" style="cursor: url(/cursors/cyan/pointer.cur), pointer !important;">
                                                <% if(guild.autohentaichannel && bot.channels.get(guild.autohentaichannel)){ %>
                                                    <option selected="selected">#<%= bot.channels.get(guild.autohentaichannel).name %></option>
                                                    <% guild.channels.filter((ch) => ch.type === "text" && ch.type === "nsfw" && ch.id !== guild.autohentaichannel).forEach((ch) => { %>
                                                        <option>#<%= ch.name %></option>
                                                    <% }); %>
                                                        <option>Выключить</option>
                                                <% } else { %>
                                                    <option selected="selected">Канал не выбран</option>
                                                    <% guild.channels.filter((ch) => ch.type === "text").forEach((ch) => { %>
                                                        <% if(ch.nsfw) {%>
                                                        <option>#<%= ch.name %></option>
                                                        <% }%>
                                                    <% }); %>
                                                <% } %>
                                            </select>
                                        </div>
                                        <div class="col-12 mb-2">
                                            <label>Интервал отправки авто хентая(мин)</label>
                                            <br>
                                            <input type="number" id="intervalh" name="intervalh" min="1" max="200" value="<%= guildData.autohentaitime %>"style="background-color: #2f3744;color: cyan;cursor: url(/cursors/cyan/select.cur), pointer !important;">
                                        </div>
                                        <div class="col-12">
                                            <button type="submit" class="btn btn-bordred-success mt-1 mb-2">Сохранить</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%- include('../invite/discord') %>
        <script src="/js/dev.js"></script>
        <script src="/vendor/jquery/jquery.min.js"></script>
        <script src="/js/app.min.js"></script>
        <script src="/js/app.min.js"></script>
        <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="/js/anti.js"></script>
    </body>
</html>